<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Imports -->
    <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
    <link rel="manifest" href="./manifest.json">
    <!-- <script src="./js/app.js"></script> -->
    <!--  -->
</head>
<body>
    <nav class= "header">
        <h1>{{title}}</h1>
            <select v-model="selected" @change="onChange">
                    <option value = "" selected="false" disabled="disabled">Filter by source</option>    
                    <option v-for="source in sources"> {{source.name}} </option>
            </select>
        </nav>
    
    <main id= "content">
        <div class= "grid" v-for= 'article in news'>
            <a id= "link" :href="article.url">
                <img id= "thumbnail":src="article.urlToImage"/>
                <p> {{ article.author }}</p>
                <h2> {{ article.title }}</h2>
            </a>
        </div>
    </main>
</body>
<!-- Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>


window.addEventListener('load', data => {
    content.fetchNews()
    header.fetchSources()

    if('serviceWorker' in navigator) {
    try{
        navigator.serviceWorker.register('js/sw.js')
        console.log("Service worker registered!")
    } catch(err) {
        console.log(err)
    }
}
})

const header = new Vue({
    el: '.header',
    data: {
        title: "News",
        selected: "",
        sources: []
    }, 
    methods: {
        async fetchSources(){
            const res = await fetch(`https://newsapi.org/v2/sources?apiKey=4c48e10ab72d4baa8feff20c49cac921`)
            const json = await res.json()
            this.sources = json.sources
        },
        async fetchFromSource(source){
            const res = await fetch(`https://newsapi.org/v2/top-headlines?sources=${source}&apiKey=4c48e10ab72d4baa8feff20c49cac921`)
            console.log("ERRO!")
            const json = await res.json()
            console.log("ERRO!")
            content.news = json.articles
        }, 
        onChange() {
            // this.fetchFromSource(this.selected)
            this.findSource(this.selected)
        },
        async findSource(sourceName) {
            const res = await fetch(`https://newsapi.org/v2/sources?apiKey=4c48e10ab72d4baa8feff20c49cac921`)
            const json = await res.json()
            const sources = json.sources
            
            const sourceId = sources.filter(function(news, index, array) {
                if(array[index].name == sourceName) {
                    return array[index].id
                }
            })
            console.log("ERRO!")
            this.fetchFromSource(sourceId[0].id)
        }
    }
})
const content = new Vue({
    el: '#content',
    data: {
        news: [],
    },
    methods: {
        async fetchNews() {
            const res = await fetch(`https://newsapi.org/v2/top-headlines?country=us&category=business&apiKey=4c48e10ab72d4baa8feff20c49cac921`)
            const json = await res.json()
            this.news = json.articles
        }
    }
})
</script>
</html>